body {
  font-family: 'Poppins', sans-serif;
}

section {
  background-color: white;
}

.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

@media only screen and (max-width: 768px) {
  footer h2 {
    font-size: 40px;
  }

  footer p {
    font-size: 20px;
  }

}

@media only screen and (max-width: 450px) {
  footer h2 {
    font-size: 30px;
  }

  footer p {
    font-size: 12px;
  }

}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  opacity: 70%;
  width: 200px;
  height: 55px;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  background: linear-gradient( 100deg, #fb8c00, #f44336, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
}
  100% {
    background-position: 0% 50%;
}
}

.button:hover {
  opacity: 100%;
  cursor: pointer;
}

.button:active {
  color: #ccff90;
}

.socials {
  padding-bottom:  200px;
}

.logo {
  height: 140px;
  margin: 10px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 992px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px black;
  margin: 10px;
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #23A6D5;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

/* .hamburger:focus {
  outline: 0;
} */

@media only screen and (max-width: 992px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}